# Configuración del Backend
DATABASE_URL=postgresql://user:password@localhost:5432/cotizador_db
SECRET_KEY=supersecretkey_dev
ALGORITHM=HS256
DEBUG=True

# Configuración de AWS S3 (Almacenamiento en la Nube)
AWS_ACCESS_KEY_ID=tu_access_key_id
AWS_SECRET_ACCESS_KEY=tu_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=tu-bucket-cotizador